.mail-list table {
    background-color: var(--clr1);
    border-collapse: collapse;
    width: 100%;
}

.mail-list tr:hover {
    outline: 1px solid var(--clr2);
    box-shadow: 1px 1px 0 var(--clr2);
}

.mail-list a {
    color: var(--clr5);
}

