.note-tools {
    background-color: inherit;
    border-top: 1px solid var(--clr2);
}


.note-tools button {
    font-family: Roboto, Arial, sans-serif;
    color: black;
    font-weight: 900;
    font-size: .9em;
    opacity: 0.4;
}

.note-tools button:hover {
    opacity: 1
}