.note-preview {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--clr2);
    border-radius: 10px;
    background-color: inherit;
}