.note-preview {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 0;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--clr2);
    border-radius: 10px;
    break-inside: avoid;
    vertical-align: baseline;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
    position: relative;
}

.note-img img {
    width: 100%;
    border-radius: 10px;
}