.note-todos {
    padding: 0.8em;
}

.note-todos h2 {
    align-self: center;
    width: 100%;
    border-bottom: 1px solid var(--clr5);
    margin-bottom: 5px;
}

.note-todos input {
    background-color: inherit;
    outline: none;
    border: none;
    border-top: 1px solid var(--clr5);
    padding: 5px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
}

.note-todos li .done {
    text-decoration: line-through;
}

.remove-todo {
    font-size: 1rem;
    cursor: pointer;
}

.remove-todo:hover {
    color: red;
}

.todoLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4rem;
}