.notes-add {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    padding: 0.5rem;
    font-size: 1rem;
    border-bottom: 1px solid var(--clr5);
}

.notes-add input {
    border: 1px solid var(--clr2);
    padding: .5rem;
    outline: none;
    border-radius: .7em;
}

.notes-add button {
    opacity: 0.3
}

.notes-add button:hover {
    opacity: 1;
}

.add-btn-container {}