* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--clr3);
    font-size: 1.1em;
    /* font-weight: 600; */
}

body {
    margin: 0;
    font-family: Roboto-Regular, sans-serif;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5em;
}

ul {
    list-style: none;
}

.router-link-exact-active {
    color: var(--clr4);
}

