.add-review {
    flex-direction: column;
    gap: 1em;
}

.toggle-review {
    text-align: center;
    cursor: pointer;
}

.review-form {
    flex-direction: column;
}

.review-form .rate span{
    color: rgb(172, 172, 172);
    font-size: 1.5em;
    cursor: pointer;
}

.review-form .rate .star{
    color: rgb(198, 166, 23);
}

.review span {
    color: rgb(198, 166, 23);
}